:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

.button {
  background-color: black !important;
  color: white;
  font-weight: 700 !important;
}
